<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="styles/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="chatContainer">
		<div id="chatWindow" >
			<ul>
				<li class="chatMessage" is="message-normal" v-for="message in messages"  v-bind:commentpost="message"></li>
			</ul>
		</div>
		<input type="text"   id="chatBox" autocomplete="off" placeholder="Send a message"  v-model="messageBox" v-on:keyup.enter="addMessage" />
		<input type="button" id="chatSubmit" v-on:click="addMessage" value="Send"  />
	</div>

    <script src="scripts/Vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io('/');
		socket.on('connect',    function(    ){ console.log('connect')    });
		socket.on('disconnect', function(    ){ console.log('disconnect') });
		socket.on('fail',       function(data){ console.error(data)        });
		socket.on('alert',      function(msg ){ alert(msg)                });

		socket.on('prompt-un',       function(data){
			var un = prompt('Please enter a username:')
			if (!un || un.length > 0)
			{
				socket.emit('un', {username: un})
			}
		});

		socket.on('chat', function(data){
			var message = data.msg
			if (data.showName){
				if (data.isSelf){
					message = 'you: ' + message;
				} else {
					message = data.un + ': ' + message;
				}
			}
			var color = '';
			var messageStyles = '';
			if (data.color) {
				messageStyles += "color:" + data.color +";"
			} else {
				messageStyles += "color:#000000;"
			}
			if (data.whisper) {
				messageStyles += "font-style: italic;"
			}

			var newChatMsg = {id: data.id, socketID: data.socketID, msg: message, style: messageStyles, timestamp : data.timestamp, user: data.un}

			chatWindow.messages.push(newChatMsg)
		});

		socket.on("setColor", function(data) {
			if (!data.socketID || !data.color){
				return;
			}
			var msg = '';
			// console.log("socketID", data.socketID)
			for (i in chatWindow.messages) {
				// console.log('"'+msg.socketID+'"', '"'+data.socketID+'"', msg.socketID == data.socketID)
				msg = chatWindow.messages[i]
				if (msg.socketID == data.socketID){
					chatWindow.messages[i].color = "color:" + data.color + ";";
				}
			}
		})

		chatWindow.sendMessage = function(msg)
		{
			if (!socket) {
				console.warn("no socket");
				return;
			}
			socket.emit('message', {message: msg})
		}
	</script>
</body>
</html>